body {
	background-color: rgb(241, 241, 241); 
}

.container {
	background-color: white;
}

#category_pane_left {
	height: 100%;
}

a.list_item {
	color: orange;
	font-size: 14px;
	font-weight: bold;
}

a.list_item:hover {
	color: orange;
}

.item_category_name {
	font-size: 12px;
	color: gray;
	font-style: italic;
}

ul, 
li {
	list-style-type: none
}

ul {
	padding-left: 0;
}

h3 {
	margin-top: 0px;
}